<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Login</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/auth/login.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="login-form">
            <form action="" novalidate method="post">
                <h2 class="text-center">Log in</h2>
                <div class="form-group">
                    <input name="username" type="text" class="form-control" placeholder="Username" required="required">
                </div>
                <div class="form-group">
                    <input name="password" type="password" class="form-control" placeholder="Password" required="required">
                </div>
                <div class="form-group">
                    <button type="submit" value="submit" class="btn btn-primary btn-block" name="submit_button">Log in</button>
                </div>
                <div class="form-group">
                    <button type="submit" value="not_registered" class="btn btn-primary btn-block" name="submit_button">Register</button>
                </div>
            </form>
            {% for message in get_flashed_messages() %}
              <div class="alert-error">{{ message }}</div>
            {% endfor %}
        </div>
    </body>
</html>